<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<style type="text/css">
	
	    .header {
	        height: 20vh;
	        background-color: aqua;
	    }
	    .content {
	        height: 30vh;
	        background-color: lightgray;
	    }
	    .footer {
	        height: 10vh;
	        background-color: green;
	    }
		
	</style>
	
</head>
<body>

	<div class="header">
		<h1>HEADER</h1>
	</div>

	<div class="content">
		<h1>CONTENT</h1>
	</div>
	
	<div class="footer">
		<h1>FOOTER</h1>
	</div>
	
</body>
</html>

<!-- 
정적인 페이지를 호출할 때는 브라우저에서 직접 열 수 있다
파일 선택한 후 우클릭 > Open With > Web browser 선택
타임리프 템플릿을 렌더링할 때는 서버를 통해 호출해야 한다
-->